<div class="center">
	<%= link_to "Exploration 1", "http://uni.knnect.com/cisco/ex1/index.html" %>
	<br />
	<%= link_to "Exploration 2", "http://uni.knnect.com/cisco/ex2/index.html" %>
	<br />
	<%= link_to "Exploration 3", "http://uni.knnect.com/cisco/ex3/index.html" %>

</div>
