<%= form_tag({controller: "features", action: "search"}, method: "post","data-ajax"=>"false") do |f|%>
<div data-role="content">
	<div data-role="fieldcontain">

		<%= text_field_tag :search_key,nil, placeholder: "Index number or name", "type" =>"search" %>
	</div>
	<%= submit_tag "search", "type" =>"submit"%>

</div>
<% end %>
<div data-theme="b" data-role="footer" data-position="fixed">
	<h3> About </h3>
</div>

