<!-- #FIXME due to asserts precompile issue -->

<style>
	.box h3 {
		text-align: center;
		position: relative;
		top: 80px;
	}
	.box {
		width: 70%;
		height: 200px;
		background: #FFF;
		margin: 40px auto;
		position: absolute;
		/*    width: 50%;*/
		/*    height: 300px;*/
		/*    line-height: 300px;*/
		/*    font-size: 50px;*/
		/*    text-align: center;*/
		/*    border: 2px solid black;*/
		left: 150%;
		/*    top: 100px;*/
		margin-left: -25%;
	}

	/*==================================================
	 * Effect 7
	 * ===============================================*/
	.effect7 {
		position: relative;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect7:before, .effect7:after {
		content: "";
		position: absolute;
		z-index: -1;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
		box-shadow: 0 0 20px rgba(0,0,0,0.8);
		top: 0;
		bottom: 0;
		left: 10px;
		right: 10px;
		-moz-border-radius: 100px /10px;
		border-radius: 100px /10px;
	}
	.effect7:after {
		right: 10px;
		left: auto;
		-webkit-transform: skew(8deg) rotate(3deg);
		-moz-transform: skew(8deg) rotate(3deg);
		-ms-transform: skew(8deg) rotate(3deg);
		-o-transform: skew(8deg) rotate(3deg);
		transform: skew(8deg) rotate(3deg);
	}

	h1 {
		font: normal 4em/1.2 'Bad Script', cursive;
		color: #bbb;
	}
	h1 span {
		text-decoration: none;
		white-space: nowrap;
		color: #555;
	}

</style>
<link href='http://fonts.googleapis.com/css?family=Bad+Script&amp;subset=latin,cyrillic' rel='stylesheet'>
<div id="box1" class="container vcard box effect7" style="left: 40%;">

	<h1 class="absolute-Center" style="text-align: center">Hi! <span class="fn url"><%= Student.find_by_registration_number(current_user.registration_number.upcase).common_name%></span></h1>

</div>
