.search_form input[type=text] {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	width: 200px;
	padding: 4px 20px 4px 8px;
	font-size: 15px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.search_form input[type=text]:focus {
	border-color: #51a7e8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 5px rgba(81,167,232,0.5);
	width: 400px;
	outline: none;
	
}
.to_messages {
	position: fixed;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.absolute_center {
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.search_form > form {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#search_box {
	height: 30px;
	margin-bottom: 0px;
}


