/*
 */
a:link {
	text-decoration: none
}
a:visited {
	text-decoration: none
}
a:active {
	text-decoration: none
}
a:hover {
	cursor: pointer
}
/* Loading index firstpage animation(not) */
#loading {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #ddd;
	/* ... */
}

/* Loading index firstpage animation(not) --end */

#feedbacks_dv_close_img:hover {
	cursor: pointer;
}

/* default button css style */
.def_button {
	border-radius: 5px;
	margin: 10;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background-color: rgba(16, 102, 117, 0.5);
	border: 1px solid;
	-webkit-box-shadow: inset 0 1px 1px #96F2B7;
	border-color: #5C98B2 #4591AD #8B5E91;
	color: white;
	width: 100px;
}
.def_button:hover {
	border-radius: 5px;
	margin: 10;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	background-color: rgba(11, 86, 191, 0.5);
	border: 1px solid;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 1px #EFD494;
	border-color: #5C98B2 #4591AD #8B5E91;
	color: white;
	width: 100px;
}
/* default button css style --end */

/* loging page styles */
#login_form {

	box-shadow: 0 0 2px rgba(242, 2, 2, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}

#login_form {
	/* background-image: url(./mm/lg_bg.png);
	 */
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	padding: 10px;
	position: relative;
	width: 70%;
	margin: 0px auto;
	z-index: 0;
}

#login_form:before {
	content: '';
	position: absolute;
	z-index: -1;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}

h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #3C34D3;
	margin: 0 0 30px 0;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
}

h1:after, h1:before {
	background-color: #465ACE;
	content: "";
	height: 1px;
	position: absolute;
	top: 15px;
	width: 120px;
}

h1:after {
	background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(left, #777, #fff);
	background-image: -moz-linear-gradient(left, #777, #fff);
	background-image: -ms-linear-gradient(left, #777, #fff);
	background-image: -o-linear-gradient(left, #777, #fff);
	background-image: linear-gradient(left, #777, #fff);
	right: 0;
}

h1:before {
	background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(right, #777, #fff);
	background-image: -moz-linear-gradient(right, #777, #fff);
	background-image: -ms-linear-gradient(right, #777, #fff);
	background-image: -o-linear-gradient(right, #777, #fff);
	background-image: linear-gradient(right, #777, #fff);
	left: 0;
}

/*rounding result_tabl */
#result_table tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.highlight {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/*while loading ajax files display this div box */
.loading_div {
	display: none;
	z-index: 20;
	text-align: center;
	position: absolute;
	margin: 0;
	padding: 0;
	margin-left: 5%;
	margin-top: 5%;
	width: 90%;
	height: 90%;
	background-color: rgba(139, 204, 249, 0.4);
	box-shadow: 0px 0px 20px 1px #FFFFFF;
	border-radius: 10px;
	-moz-border-radius: 25px;
}

#body {
	background-image: url('../mm/bg_dotted.png');
	background-repeat: repeat;
	background-attachment: fixed;
	border: 0px;
	margin: 0px;
}

#result_box {
	/*background style*/
	z-index: 4;
	background-color: rgba(11, 84, 137, 0.7);
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 80%), linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 80%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 80%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 80%);
	background-size: 13px, 29px, 37px, 53px;
	top: 10%;
	border-radius: 10px;
	-moz-border-radius: 25px;
	position: relative;
	margin: 0;
	float: left;
	margin-left: 5%;
	width: 90%;
	box-shadow: 0px 0px 20px 1px #000000;
	padding-bottom: 4%;
}

#body_first {
	/* background-image: url('../mm/bg_dotted.png');
	 background-repeat: repeat;
	 */
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#top_bar {

	position: relative;
	margin: 0px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0%;
	height: 5%;
	box-shadow: 0px 0px 15px 5px #00AEFF;
	background: rgba(32, 173, 249, 0.898);
	width: 100%;
	z-index: 0;
}

.rest_body {
	position: relative;
	float: left;
	margin: 0;
	margin-left: 5%;
	width: 90%;
	height: auto;
	z-index: 3;
	background-image: url('../mm/bg.gif');
	background: rgba(0, 0, 0, 0.8);
}

#footer_removed {
	width: 100px;
	height: 100px;
	position: relative;
	animation: myfirst 10s infinite;
	animation-direction: alternate;
	/* Firefox */
	-moz-animation: myfirst 10s infinite;
	-moz-animation-direction: alternate;
	/* Safari and Chrome */
	-webkit-animation: myfirst 10s infinite;
	-webkit-animation-direction: alternate;
	/* Opera */
	-o-animation: myfirst 10s infinite;
	-o-animation-direction: alternate;
}

@keyframes myfirst
{
0%   {font-size: medium; left:0px; top:0px;}
25%  {font-size: medium; left:200px; top:0px;}
50% {font-size: medium; left:0px; top:0px;}
75%  {font-size: medium; left:-200px; top:0px;}
100% {font-size: medium; left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {font-size: medium; left:0px; top:0px;}
25%  {font-size: medium; left:200px; top:0px;}
50% {font-size: medium; left:0px; top:0px;}
75%  {font-size: medium; left:-200px; top:0px;}
100% {font-size: medium; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {font-size: medium; left:0px; top:0px;}
25%  {font-size: medium; left:200px; top:0px;}
50% {font-size: medium; left:0px; top:0px;}
75%  {font-size: medium; left:-200px; top:0px;}
100% {font-size: medium; left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {font-size: medium; left:0px; top:0px;}
25%  {font-size: medium; left:200px; top:0px;}
50% {font-size: medium; left:0px; top:0px;}
75%  {font-size: medium; left:-200px; top:0px;}
100% {font-size: medium; left:0px; top:0px;}
}

#welcom_msg {
	position: relative;
	width: 90%;
	height: 100px;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 5%;
	z-index: 2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px #545454;
	background-image: url('../mm/srcbx.png');
	opacity: 0.9;
	filter: alpha(opacity=20);
	padding-bottom: 1%;
}
#madura {
	position: relative;
	width: auto;
	height: auto;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	z-index: 2;
	visibility: visible;
}

#search {
	position: relative;
	margin-left: 30%;
	float: left;
	width: 40%;
	display: block;
	border: none;
	border-radius: 20px;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1);
}
#search:focus {
	outline: none;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,0.1), 0 0 5px 1px #51CBEE;
}
input {
	border-radius: 10px;
	width: auto;
}

#loging_div {
	position: relative;
	margin: 0px auto;
	text-align: center;
	width: 40%;
	box-shadow: 0px 10px 30px 1px #181B21;
	border-radius: 10px;
	padding-bottom: 5%;
}
