<style>
	#ticker {
		height: 150px;
		overflow: hidden;

	}
	#ticker li {
		height: 40px;
		border-radius:10px;
		padding: 5px;
	}
	
</style>

<script>
	function tic () {
	  //alert("asdsada");
	  //$(‘#ticker li:first’).slideUp( function () { $(this).appendTo($(‘#ticker’)).slideDown(); });
	  $("#ticker li:eq(1)").slideUp(
	  	function (){
	  		$(this).appendTo($("#ticker")).slideDown();
	  	}
	  );
	}	


	</script>


<ul id="ticker" style="width: 90%">
	<li class="alert-danger">
	<%=  @latest_batch_messages.first.text %>
	</li>
<% @latest_batch_messages.each do |message| %>
	<li class="alert-info">
		<%= message.text %>
	</li >
<% end %>
</ul>