<div class="hero-unit">
	<h1>CiSCO</h1>
	<p>
		CISCO Network Academy
	</p>
	<p>
		<%= link_to "Exploration 4.1", "/cisco/ex1/index.html", class: "btn btn-primary btn-small" %>
		<%= link_to "Exploration 4.2", "/cisco/ex2/index.html", class: "btn btn-primary btn-small" %>
		<%= link_to "Exploration 4.3", "/cisco/ex3/index.html", class: "btn btn-primary btn-small" %>
		<%= link_to "Exploration 4.4", "/cisco/ex4/index.html", class: "btn btn-primary btn-small" %>
	</p>
</div>