<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>unsubscribe page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag    "normalize.min", "main", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "modernizr-2.6.2-respond-1.1.0.min", "data-turbolinks-track" => true %>
    </head>
    <body class="campaigner">
      <%= yield %>
    </body>
</html>
